/* Autor: Camilo Moreno*/
/*----------- Header y footer--------------*/
.btn-white{
    color: white !important;
}
.btn-white:hover{
    
    color: black!important;
}

/*----------- Header y footer--------------*/

.boton{
    width: 17%;
    margin: 5px 180px;
    background-color: rgb(36, 93, 131);
    color: white;
}
.boton:hover{
    color: black!important;
}
.diseño1{
    text-align: center;
}
.cod{
    text-align: center;
}
.descripcion{
    text-align: center;
}
.precio_carro{
    text-align: center;
}
.cantidad_carro{
    text-align: center;
    width: 10%;
}
.eliminar_carro{
    text-align: center;
}
.total_carro{
    text-align: center;
}
.numero{
    align-content:center ;
}

.suma{
    text-align: right;
}